
.me-2{
    color:#175C4C;
    background-color: #FDF4E3;
    border-color: #EFDBCE;
}
.contain1{
    color:#175C4C;
    background-color: #FDF4E3;
    border-color: #EFDBCE;
}
.contain2{
  /*  new testing colour: FDF4E3 one on logo: EFDBCE */
    color:#FDF4E3;
    background-color: #175C4C;
    border-color: #EFDBCE;
}
.letters{
    color: #8A6742
}
.quote {
    animation: animateMounting .4s;
 }
@keyframes animateMounting {
    0% {
       opacity: 0;
    }
   
    100% {
       opacity: 1;
    }
}
